.descripcion {
  text-align: right;
}

.servicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servicios h2 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.servicios ul {
  list-style-type: none;
  text-align: center;
}

.servicios li {
  display: inline;
  margin-right: 20px;
  text-align: center;
}

.back-button {
  margin-top: 20px;
}

.back-button a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
